<%- include ('partials/navbar.ejs') %>
<p id="titleClientes">Pedidos:</p>
<div id="firulaPed"></div>
    <table border="1" class="table table-striped table-hover" id="tabela">
        <tr>
            <th> Número do pedido: </th>
            <th> Valor do pedido: </th>
            <th> Cliente: </th>
            <th> Itens inclusos: </th>
        </tr>
        <tr>
            <% pedidos.forEach ((pedido) => { %>
                <td><%= pedido.numeroPed %></td>
                <td><%= pedido.valor %></td>
                <td><%= pedido.cliente %></td>
                <td><%= pedido.itens %></td>
        </tr>
        <%  }) %>
    </table>
<%- include ('partials/footer.ejs') %>