<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1>Produtos</h1>

    <table border="1">
        <tr>
            <th width="100px"> Nome: </th>
            <th> Preço: </th>
            <th> Categoria: </th>
        </tr>
        <tr>
            <% produtos.forEach ((produto) => { %>
                <td><%= produto.nome %></td>
                <td><%= produto.preco %></td>
                <td><%= produto.categoria %></td>
        </tr>
        <%  }) %>
    </table>

<%- include ('partials/footer.ejs') %>